<app-navbar [config]="config" ></app-navbar>
<div class="uk-container  uk-margin-left uk-margin-right">
    <button class="uk-button uk-button-primary uk-width-1-1" routerLink="/create" >Adicionar</button>
    <div class="uk-margin-large-top">
        <div class="uk-grid-small" *ngIf="item" uk-grid>
            <input class="uk-checkbox uk-margin-left m-5p" [attr.checked]="item.checked ? 'checked' : null"   type="checkbox">
            <p class="uk-width-expand" uk-leader>{{ item.name }}</p>
            <div>{{ item.price | currency:'BRL' }}</div>
        </div>
    </div>
    
    <hr class="uk-margin-large-top">
    <!-- <app-total-item [item]="item"></app-total-item> -->
</div>