@import "@/styles/colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.input {
    outline: none;
    height: 2em;
    font-size: 1.1em;
    font-weight: 400;
    border-color: gray;
    border: 0.5px solid #8080804a;
    border-radius: 5px;
    padding: 1em;
    &:focus{
        
    }
    input::placeholder {
        font-weight: 100;
    }

    &.input-row{
        width: 100%;
    }
}

.btn {
    font-size: 1.1em;
    height: 2em;
    background-color: none;
    border: 0.5px solid #8080804a;
    border-radius: 5px;

    &.btn-row{
        width: 100%;
    }
}