.wrapper {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    &.third-column-center{
        grid-template-columns: 0.1fr 2fr 0.1fr;
        align-content: center;
        text-align: center;
    }
   
}


