/* You can add global styles to this file, and also import other style files */
main{
    position: relative;
}

.float-left{
    float: left;
}
.float-right{
    float: right;
}
.text-center{
    text-align: center;
}
.m-5p{
    margin-top: 5px!important;
}
